a, a:hover {text-decoration:none;color:black}


/*jqGrid Header 높이 조정*/
.ui-jqgrid .ui-jqgrid-labels th.ui-th-column div {
   white-space:normal !important;
   height:auto !important;
   font-size:14px !important;
}

/*jqGrid Row Font Size*/
.ui-jqgrid tr.jqgrow td{
	font-size:14px !important;
}

/*jqGrid Add/edit form font size*/
.ui-jqdialog { font-size: 14px; }

/* jqGrid 가로 스크롤바 없애기*/

.ui-jqgrid .ui-jqgrid-bdiv {
  position: relative; 
  margin: 0em; 
  padding:0; 
  overflow-x:hidden; 
  overflow-y:auto; 
}



