a, a:hover {text-decoration:none;color:black}

/*로고*/
header ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

header .top-block{
	height:60px;
	padding:10px 10px;
	position: relative;
	background-color: #fff;
}
header .top-block img{
	width:140px;
}


/*메뉴*/
header .top-menu{
	/*height: 40px;*/
	height: 50px;
	background-color:#F0F1F1;
}
header .top-menu .menu-block {
    width: 100%;
    max-width: 1000px;
    display: block;
    background-color: #2C3E50;
}
header .top-menu .menu-block ul{
	white-space:nowrap;
    overflow-x: auto;
    -ms-overflow-style: none;
}
header .top-menu ul li{
	display: inline-block;
	border-right:1px solid black;
}
header .top-menu ul li a{
    /*padding: 0px 15px;*/
	padding: 5px 15px;
    display: block;
    font-size: 14px;
    /*height: 40px;*/
	height: 50px;
    line-height: 40px;
    color: #5d575b;
    font-weight: 600;
    cursor: pointer;
    color: #fff;
	/*text-decoration:none;*/
}
header .top-menu ul li a span.interm-num{
    font-size: 10px;
    background-color: red;
    color: #fff;
    border-radius: 5px;
    padding: 4px 8px;
    margin-left: 4px;
}

header .top-menu ul li a.on{
	background-color: #3F5872;
}


/*콘텐츠 화면*/
.swiper-container {
	width: 100%;
	height:100%;
	/*margin-top:110px;*/
	margin-top:110px;
}
.swiper-slide {
	/*background: #fff;*/

	/* Center slide text vertically
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
*/
}


/*Modal*/
.modal {
  text-align: center;
}

@media screen and (min-width: 768px) { 
  .modal:before {
	display: inline-block;
	vertical-align: middle;
	content: " ";
	height: 100%;
  }
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}